<app-not-found *ngIf="role === null; else page"></app-not-found>

<ng-template #page>
  <ng-template #loading>
    <div class="progress-bar">
      <div class="progress-bar-value"></div>
    </div>
  </ng-template>

  <app-card [cardTitle]="'Role Settings : ' + (role ? (role | rolePublicName) : '')" [options]="false" blockClass="table-border-style">
    <div class="container mt-4" *ngIf="role; else loading">
      <div class="text-center text-gray" role="alert">
        <p class="mb-5">
          <em>
            "{{
              role.description
                ? role.description
                : 'This permission is mainly used for controlling access to the system when the user is logged in. It ensures that the user has the right to access the system and is used throughout the system.'
            }}"
          </em>
        </p>
      </div>
      <app-card cardTitle="Relations" [options]="false" blockClass="table-border-style">
        <ul class="nav nav-tabs mb-3" ngbNav #nav="ngbNav">
          <li class="nav-item" [ngbNavItem]="2">
            <a class="nav-link text-uppercase" aria-controls="accounts" aria-selected="true" ngbNavLink>
              <i class="fas fa-users"></i>
              Accounts
            </a>
            <ng-template ngbNavContent>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Accounts" />
                  <div class="input-group-append">
                    <span class="input-group-text" style="height: 100%"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>

              <div class="table-responsive" *ngIf="role.accounts; else loading">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Photo</th>
                      <th>Email</th>
                      <th style="width: 1%">Revoke</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let account of role.accounts; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <img [src]="account.photoUrl || defaultPhotoUrl" alt="photo" class="img-thumbnail" width="35" height="35" />
                      </td>
                      <td>
                        <a [routerLink]="['/accounts/details', account.id]">{{ account.email }}</a>
                      </td>
                      <td>
                        <button
                          class="btn btn-sm"
                          [ngClass]="{
                            'btn-danger': !isAccountWaitingToBeRevoked(account),
                            'btn-secondary': isAccountWaitingToBeRevoked(account)
                          }"
                          (click)="toggleAccountRevocation(account)"
                        >
                          <i class="fas" [ngClass]="isAccountWaitingToBeRevoked(account) ? 'fa-undo' : 'fa-ban'"></i>
                          {{ isAccountWaitingToBeRevoked(account) ? 'Undo Revoke' : 'Revoke' }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="1">
            <a class="nav-link text-uppercase" aria-controls="permissions" aria-selected="true" ngbNavLink>
              <i class="fas fa-key"></i>
              Permissions
            </a>
            <ng-template ngbNavContent>
              <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Permissions" />
                  <div class="input-group-append">
                    <span class="input-group-text" style="height: 100%"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>

              <div class="table-responsive" *ngIf="role.permissions; else loading">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Scope</th>
                      <th style="width: 1%">Revoke</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let permission of role.permissions; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <a [routerLink]="['/permissions/details', permission.id]">{{ permission.name }}</a>
                      </td>
                      <td>{{ permission.scope }}</td>
                      <td>
                        <button
                          class="btn btn-sm"
                          [ngClass]="{
                            'btn-danger': !isPermissionWaitingToBeRevoked(permission),
                            'btn-secondary': isPermissionWaitingToBeRevoked(permission)
                          }"
                          (click)="togglePermissionRevocation(permission)"
                        >
                          <i class="fas" [ngClass]="isPermissionWaitingToBeRevoked(permission) ? 'fa-undo' : 'fa-ban'"></i>
                          {{ isPermissionWaitingToBeRevoked(permission) ? 'Undo Revoke' : 'Revoke' }}
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </app-card>
      <app-card cardTitle="Grant Authorities" [options]="false" blockClass="table-border-style">
        <div class="container mt-4">
          <div ngbAccordion class="mb-3">
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader></h2>
              <button ngbAccordionButton>
                <i class="fas fa-user-plus me-2"></i>
                Grant To More Accounts
              </button>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <app-search-accounts
                    (accountUnchosen)="onAccountUnchosen($event)"
                    (accountChosen)="onAccountChosen($event)"
                    [excludedAccounts]="role.accounts || []"
                  ></app-search-accounts>
                </div>
              </div>
            </div>
          </div>

          <div ngbAccordion class="mb-3">
            <div ngbAccordionItem>
              <h2 ngbAccordionHeader></h2>
              <button ngbAccordionButton>
                <i class="fas fa-key me-2"></i>
                Grant More Permissions
              </button>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <app-search-permissions
                    (permissionUnchosen)="onPermissionUnchosen($event)"
                    (permissionChosen)="onPermissionChosen($event)"
                    [excludedPermissions]="role.permissions || []"
                  ></app-search-permissions>
                </div>
              </div>
            </div>
          </div>
        </div>
      </app-card>
      <app-card cardTitle="Pending Changes" [options]="false" blockClass="table-border-style">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-6 mb-4">
              <h6 class="text-success">
                <i class="fas fa-plus-circle"></i>
                Permissions to Grant to Role
              </h6>
              <ul class="list-group">
                <li class="list-group-item text-muted" *ngIf="!permissionsToBeGranted.length">None</li>
                <li
                  class="list-group-item text-success d-flex justify-content-between align-items-center"
                  *ngFor="let permission of permissionsToBeGranted"
                >
                  {{ permission.scope + '.perm.' + permission.name }}
                  <button
                    class="btn btn-sm btn-outline-success d-flex align-items-center p-1"
                    [ngClass]="{
                      'btn-success': !isPermissionWaitingToBeGranted(permission),
                      'btn-secondary': isPermissionWaitingToBeGranted(permission)
                    }"
                    (click)="togglePermissionGrant(permission)"
                  >
                    <i class="fas" [ngClass]="isPermissionWaitingToBeGranted(permission) ? 'fa-undo' : 'fa-plus'"></i>
                    <span class="ml-1">{{ isPermissionWaitingToBeGranted(permission) ? 'Undo' : 'Grant' }}</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-md-6 mb-4">
              <h6 class="text-danger">
                <i class="fas fa-minus-circle"></i>
                Permissions to Revoke from Role
              </h6>
              <ul class="list-group">
                <li class="list-group-item text-muted" *ngIf="!permissionsToBeRevoked.length">None</li>
                <li
                  class="list-group-item text-danger d-flex justify-content-between align-items-center"
                  *ngFor="let permission of permissionsToBeRevoked"
                >
                  {{ permission.scope + '.perm.' + permission.name }}
                  <button
                    class="btn btn-sm btn-outline-danger d-flex align-items-center p-1"
                    [ngClass]="{
                      'btn-danger': !isPermissionWaitingToBeRevoked(permission),
                      'btn-secondary': isPermissionWaitingToBeRevoked(permission)
                    }"
                    (click)="togglePermissionRevocation(permission)"
                  >
                    <i class="fas" [ngClass]="isPermissionWaitingToBeRevoked(permission) ? 'fa-undo' : 'fa-ban'"></i>
                    <span class="ml-1">{{ isPermissionWaitingToBeRevoked(permission) ? 'Undo' : 'Revoke' }}</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <h6 class="text-success">
                <i class="fas fa-user-plus"></i>
                Accounts to Grant Role
              </h6>
              <ul class="list-group">
                <li class="list-group-item text-muted" *ngIf="!accountsToBeGranted.length">None</li>
                <li
                  class="list-group-item text-success d-flex justify-content-between align-items-center"
                  *ngFor="let account of accountsToBeGranted"
                >
                  {{ account.email }}
                  <button
                    class="btn btn-sm btn-outline-success d-flex align-items-center p-1"
                    [ngClass]="{
                      'btn-success': !isAccountWaitingToBeGranted(account),
                      'btn-secondary': isAccountWaitingToBeGranted(account)
                    }"
                    (click)="toggleAccountGrant(account)"
                  >
                    <i class="fas" [ngClass]="isAccountWaitingToBeGranted(account) ? 'fa-undo' : 'fa-plus'"></i>
                    <span class="ml-1">{{ isAccountWaitingToBeGranted(account) ? 'Undo' : 'Grant' }}</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-md-6 mb-4">
              <h6 class="text-danger">
                <i class="fas fa-user-minus"></i>
                Accounts to Revoke Role
              </h6>
              <ul class="list-group">
                <li class="list-group-item text-muted" *ngIf="!accountsToBeRevoked.length">None</li>
                <li
                  class="list-group-item text-danger d-flex justify-content-between align-items-center"
                  *ngFor="let account of accountsToBeRevoked"
                >
                  {{ account.email }}
                  <button
                    class="btn btn-sm btn-outline-danger d-flex align-items-center p-1"
                    [ngClass]="{
                      'btn-danger': !isAccountWaitingToBeRevoked(account),
                      'btn-secondary': isAccountWaitingToBeRevoked(account)
                    }"
                    (click)="toggleAccountRevocation(account)"
                  >
                    <i class="fas" [ngClass]="isAccountWaitingToBeRevoked(account) ? 'fa-undo' : 'fa-ban'"></i>
                    <span class="ml-1">{{ isAccountWaitingToBeRevoked(account) ? 'Undo' : 'Revoke' }}</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </app-card>
    </div>
    <div class="mt-4 d-flex flex-wrap justify-content-end gap-2">
      <button
        class="btn btn-outline-danger mb-2 flex-fill"
        style="min-width: 170px"
        (click)="deleteRole()"
        [disabled]="!role || isDeletingRole"
      >
        <i class="fas" [ngClass]="isDeletingRole ? 'fa-spinner fa-spin' : 'fa-trash-alt'"></i>
        Delete Role
      </button>
      <button
        class="btn btn-success mb-2 flex-fill"
        style="min-width: 170px"
        [disabled]="!role || !hasChanges || isSavingChanges"
        (click)="saveChanges()"
      >
        <i class="fas" [ngClass]="isSavingChanges ? 'fa-spinner fa-spin' : 'fa-save'"></i>
        Save Changes
      </button>
    </div>
  </app-card>
</ng-template>
