<app-card cardTitle="Create Role Form" [options]="false" blockClass="table-border-style">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-6">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name" />
      </div>
      <div class="form-group col-6">
        <label for="scope">Scope</label>
        <div class="input-group">
          <input type="text" class="form-control" id="scope" placeholder="Enter scope" formControlName="scope" list="scopeOptions" />
          <datalist id="scopeOptions">
            <option *ngFor="let scope of scopes" [value]="scope">{{ scope }}</option>
          </datalist>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Enter description" formControlName="description"></textarea>
    </div>

    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader></h2>
        <button ngbAccordionButton>Grant Permissions</button>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <app-search-grant-role-permission
              #grantPerm
              (permissionUnchosen)="onPermissionUnchosen($event)"
              (permissionChosen)="onPermissionChosen($event)"
            ></app-search-grant-role-permission>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group mt-3">
      <li *ngFor="let permission of chosenPermissions" class="list-group-item d-flex justify-content-between align-items-center">
        <span>{{ permission.scope + '.perm.' + permission.name }}</span>
      </li>
    </ul>
    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="btn btn-outline-danger me-2" (click)="clearChosenPermissions()">Clear Permissions</button>
      <button type="submit" class="btn btn-primary ps-4 pe-4" [disabled]="!formGroup.valid || isSubmitting">
        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Save
      </button>
    </div>
  </form>
</app-card>
